
/* METODO UTILIZZATO : MOBILE FIRST  */

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

img {
    max-width: 100%;
}


/* UTILITIES */



/* HEADER */

header {
    width: 100%;
    display: flex;
    align-items: center;

    /* background-color: #EAEAEA; */

    /* debug */
    background-color: aqua;
    /* height: 90px; */
}

.avatar {
    width: 20%;
    padding: 5px;
    text-align: left;
}

.avatar img {
    
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 5px;

}

.info-avatar {
    width: 80%;
}

.utility {
    display: none;
}


@media screen and (min-width:768px) {

    .header {
    justify-content: space-between;
    gap: 0;
        
    }


    .utility {
        display: inline-block;
    }
}



/* TEX-SECTION */

.text-container {

    /* debug */
    background-color: gold ;
    min-height: 700px;


}


/* FOOTER */

footer {

    /* debug */
    background-color: blueviolet;
    min-height: 54px;
}